body.hero-background {
    background: url('https://cdn.midjourney.com/d5e88443-bcea-4f46-bcad-c4543767a8db/0_0.png') no-repeat center center fixed;
    background-size: cover;
}
.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.message.error {
    color: red;
}
.message.success {
    color: green;
}

.container-fluid {
    background-color: #e670099b;

}

.quote {
    font-style: italic;
    border-left: 5px solid #ccc;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: large;
    max-width: 50vw;
  }
  .quote-author {
    font-size: 0.8rem;
    font-style: italic;
    color: #666;
  }
  .quote-timeperiod {
    font-size: 0.8rem;
    font-style: italic;
    color: #666;
  }

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    margin-top: 0;
    padding-bottom: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #fff;
    text-decoration: none;
}

.content {
    flex: 1;
    padding: 20px;
}

.card {
    padding: 20px;
}

.instructions-textarea {
    width: 100%;
    height: 200px;
    resize: both;
}

.update-button {
    display: none;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.success-message {
    display: none;
    margin-top: 10px;
    color: green;
}